.center {
    background-color: rgb(80, 80, 80);
    padding-top: 20px;
    font-family: menlo;
    user-select: none;
}

h1 {
    font-size: 24px;
    font-weight: 200;
    color: white;
}

h4 {
    font-weight: 200;
    color: white;
}

#score {
    color: white;
    position: absolute;
    padding-top: 5px;
    padding-left: 20px;
}